* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    color: var(--color-text);
    line-height: 1.6;
    background-color: var(--color-light);
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2rem;
}

section { padding: 5rem 0; }